<table class="table" ng-repeat="(date, pages) in topPages.data">
  <caption>{{::date}}</caption>
  <thead>
    <tr>
      <th>
        Page URL
      </th>
      <th>
        Visits
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="page in pages">
      <td>
        {{::page.url}}
      </td>
      <td>
        {{::page.visits}}
      </td>
    </tr>
  </tbody>
</table>
